In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [52]:
df = pd.read_csv('marketing_campaign.csv',sep="\t")
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

# EDA

In [53]:
df.dtypes

ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

In [54]:
df.describe

<bound method NDFrame.describe of          ID  Year_Birth   Education Marital_Status   Income  Kidhome  \
0      5524        1957  Graduation         Single  58138.0        0
1      2174        1954  Graduation         Single  46344.0        1
2      4141        1965  Graduation       Together  71613.0        0
3      6182        1984  Graduation       Together  26646.0        1
4      5324        1981         PhD        Married  58293.0        1
...     ...         ...         ...            ...      ...      ...
2235  10870        1967  Graduation        Married  61223.0        0
2236   4001        1946         PhD       Together  64014.0        2
2237   7270        1981  Graduation       Divorced  56981.0        0
2238   8235        1956      Master       Together  69245.0        0
2239   9405        1954         PhD        Married  52869.0        1

      Teenhome Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  \
0            0  04-09-2012       58       635  ...                  7
1            1  08-03-2014       38        11  ...                  5
2            0  21-08-2013       26       426  ...                  4
3            0  10-02-2014       26        11  ...                  6
4            0  19-01-2014       94       173  ...                  5
...        ...         ...      ...       ...  ...                ...
2235         1  13-06-2013       46       709  ...                  5
2236         1  10-06-2014       56       406  ...                  7
2237         0  25-01-2014       91       908  ...                  6
2238         1  24-01-2014        8       428  ...                  3
2239         1  15-10-2012       40        84  ...                  7

      AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  \
0                0             0             0             0             0
1                0             0             0             0             0
2                0             0             0             0             0
3                0             0             0             0             0
4                0             0             0             0             0
...            ...           ...           ...           ...           ...
2235             0             0             0             0             0
2236             0             0             0             1             0
2237             0             1             0             0             0
2238             0             0             0             0             0
2239             0             0             0             0             0

      Complain  Z_CostContact  Z_Revenue  Response
0            0              3         11         1
1            0              3         11         0
2            0              3         11         0
3            0              3         11         0
4            0              3         11         0
...        ...            ...        ...       ...
2235         0              3         11         0
2236         0              3         11         0
2237         0              3         11         0
2238         0              3         11         0
2239         0              3         11         1

[2240 rows x 29 columns]>

In [55]:
df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [56]:
# Handle missing values in Income
df['Income'].fillna(df['Income'].mean(), inplace=True)

In [57]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,2240.0,5592.159821,3246.662198,0.0,2828.25,5458.5,8427.75,11191.0
Year_Birth,2240.0,1968.805804,11.984069,1893.0,1959.00,1970.0,1977.00,1996.0
Income,2240.0,52247.251354,25037.797168,1730.0,35538.75,51741.5,68289.75,666666.0
Kidhome,2240.0,0.444196,0.538398,0.0,0.00,0.0,1.00,2.0
Teenhome,2240.0,0.506250,0.544538,0.0,0.00,0.0,1.00,2.0
Recency,2240.0,49.109375,28.962453,0.0,24.00,49.0,74.00,99.0
MntWines,2240.0,303.935714,336.597393,0.0,23.75,173.5,504.25,1493.0
MntFruits,2240.0,26.302232,39.773434,0.0,1.00,8.0,33.00,199.0
MntMeatProducts,2240.0,166.950000,225.715373,0.0,16.00,67.0,232.00,1725.0
MntFishProducts,2240.0,37.525446,54.628979,0.0,3.00,12.0,50.00,259.0
MntSweetProducts,2240.0,27.062946,41.280498,0.0,1.00,8.0,33.00,263.0
MntGoldProds,2240.0,44.021875,52.167439,0.0,9.00,24.0,56.00,362.0
NumDealsPurchases,2240.0,2.325000,1.932238,0.0,1.00,2.0,3.00,15.0
NumWebPurchases,2240.0,4.084821,2.778714,0.0,2.00,4.0,6.00,27.0
NumCatalogPurchases,2240.0,2.662054,2.923101,0.0,0.00,2.0,4.00,28.0
NumStorePurchases,2240.0,5.790179,3.250958,0.0,3.00,5.0,8.00,13.0
NumWebVisitsMonth,2240.0,5.316518,2.426645,0.0,3.00,6.0,7.00,20.0
AcceptedCmp3,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
AcceptedCmp4,2240.0,0.074554,0.262728,0.0,0.00,0.0,0.00,1.0
AcceptedCmp5,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
AcceptedCmp1,2240.0,0.064286,0.245316,0.0,0.00,0.0,0.00,1.0
AcceptedCmp2,2240.0,0.013393,0.114976,0.0,0.00,0.0,0.00,1.0
Complain,2240.0,0.009375,0.096391,0.0,0.00,0.0,0.00,1.0
Z_CostContact,2240.0,3.000000,0.000000,3.0,3.00,3.0,3.00,3.0
Z_Revenue,2240.0,11.000000,0.000000,11.0,11.00,11.0,11.00,11.0
Response,2240.0,0.149107,0.356274,0.0,0.00,0.0,0.00,1.0

In [58]:
le = preprocessing.LabelEncoder()
le.fit(df['Dt_Customer'])
df['Dt_Customer'] = le.transform(df['Dt_Customer'])
areatype_labels = dict(zip(le.classes_, le.transform(le.classes_)))

In [59]:
le.fit(df['Education'])
df['Education'] = le.transform(df['Education'])
areatype_labels = dict(zip(le.classes_, le.transform(le.classes_)))

In [60]:
le.fit(df['Marital_Status'])
df['Marital_Status'] = le.transform(df['Marital_Status'])
areatype_labels = dict(zip(le.classes_, le.transform(le.classes_)))

In [61]:
df.drop(['AcceptedCmp1','AcceptedCmp2','AcceptedCmp3','AcceptedCmp4','AcceptedCmp5','Response','Z_CostContact','Z_Revenue'],axis=1,inplace=True)
df.dropna(axis=0,inplace=True)

In [62]:
df.corr()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Complain
ID,1.000000,0.000028,-0.003839,0.019580,0.013036,0.002406,-0.002580,-0.030924,-0.046524,-0.022878,...,-0.004437,-0.024475,-0.007642,-0.013438,-0.037166,-0.018924,-0.003440,-0.014927,-0.007446,0.033883
Year_Birth,0.000028,1.000000,-0.171390,-0.060580,-0.160942,0.230176,-0.352111,-0.008510,-0.019871,-0.157773,...,-0.030872,-0.041625,-0.018133,-0.061818,-0.060846,-0.145040,-0.121275,-0.128272,0.121139,-0.030128
Education,-0.003839,-0.171390,1.000000,0.007090,0.119974,-0.045564,0.118485,0.017878,-0.011728,0.197576,...,0.033625,-0.112223,-0.105217,-0.095489,0.030075,0.081908,0.070782,0.070483,-0.040281,-0.050540
Marital_Status,0.019580,-0.060580,0.007090,1.000000,0.021267,-0.022553,-0.003596,-0.015492,0.014159,0.008205,...,0.030689,0.035808,0.017382,0.001688,-0.021772,-0.001894,0.015125,0.001412,-0.031210,-0.005718
Income,0.013036,-0.160942,0.119974,0.021267,1.000000,-0.425176,0.019018,-0.031236,-0.003946,0.576789,...,0.577802,0.437497,0.436162,0.321978,-0.082290,0.380550,0.586725,0.526489,-0.549824,-0.027223
Kidhome,0.002406,0.230176,-0.045564,-0.022553,-0.425176,1.000000,-0.036133,-0.002199,0.008827,-0.496297,...,-0.437129,-0.387644,-0.370673,-0.349595,0.221798,-0.361647,-0.502237,-0.499683,0.447846,0.040207
Teenhome,-0.002580,-0.352111,0.118485,-0.003596,0.019018,-0.036133,1.000000,0.005078,0.016198,0.004846,...,-0.261160,-0.204187,-0.162475,-0.021725,0.387741,0.155500,-0.110769,0.050695,0.134884,0.003138
Dt_Customer,-0.030924,-0.008510,0.017878,-0.015492,-0.031236,-0.002199,0.005078,1.000000,0.011171,0.000855,...,-0.011888,-0.018528,0.001095,0.001157,-0.010121,0.008247,-0.025809,-0.004105,0.026401,-0.011827
Recency,-0.046524,-0.019871,-0.011728,0.014159,-0.003946,0.008827,0.016198,0.011171,1.000000,0.016064,...,0.023056,0.001079,0.022670,0.016693,-0.001098,-0.010726,0.025110,0.000799,-0.021445,0.013231
MntWines,-0.022878,-0.157773,0.197576,0.008205,0.576789,-0.496297,0.004846,0.000855,0.016064,1.000000,...,0.562667,0.399753,0.386581,0.387516,0.010940,0.542265,0.635226,0.642100,-0.320653,-0.039007
MntFruits,0.004600,-0.017917,-0.080412,0.000593,0.428747,-0.372581,-0.176764,-0.020819,-0.004306,0.389637,...,0.543105,0.594804,0.567164,0.392995,-0.132114,0.296735,0.487917,0.461758,-0.418383,-0.005166
MntMeatProducts,-0.004437,-0.030872,0.033625,0.030689,0.577802,-0.437129,-0.261160,-0.011888,0.023056,0.562667,...,1.000000,0.568402,0.523846,0.350609,-0.122415,0.293761,0.723827,0.479659,-0.539470,-0.023483
MntFishProducts,-0.024475,-0.041625,-0.112223,0.035808,0.437497,-0.387644,-0.204187,-0.018528,0.001079,0.399753,...,0.568402,1.000000,0.579870,0.422875,-0.139361,0.293681,0.534478,0.459855,-0.446003,-0.020953
MntSweetProducts,-0.007642,-0.018133,-0.105217,0.017382,0.436162,-0.370673,-0.162475,0.001095,0.022670,0.386581,...,0.523846,0.579870,1.000000,0.369724,-0.120100,0.348544,0.490924,0.448756,-0.423294,-0.022485
MntGoldProds,-0.013438,-0.061818,-0.095489,0.001688,0.321978,-0.349595,-0.021725,0.001157,0.016693,0.387516,...,0.350609,0.422875,0.369724,1.000000,0.049085,0.421836,0.437697,0.381678,-0.250719,-0.030861
NumDealsPurchases,-0.037166,-0.060846,0.030075,-0.021772,-0.082290,0.221798,0.387741,-0.010121,-0.001098,0.010940,...,-0.122415,-0.139361,-0.120100,0.049085,1.000000,0.234185,-0.008617,0.068879,0.347633,0.000420
NumWebPurchases,-0.018924,-0.145040,0.081908,-0.001894,0.380550,-0.361647,0.155500,0.008247,-0.010726,0.542265,...,0.293761,0.293681,0.348544,0.421836,0.234185,1.000000,0.378376,0.502713,-0.055846,-0.016310
NumCatalogPurchases,-0.003440,-0.121275,0.070782,0.015125,0.586725,-0.502237,-0.110769,-0.025809,0.025110,0.635226,...,0.723827,0.534478,0.490924,0.437697,-0.008617,0.378376,1.000000,0.518738,-0.520364,-0.020453
NumStorePurchases,-0.014927,-0.128272,0.070483,0.001412,0.526489,-0.499683,0.050695,-0.004105,0.000799,0.642100,...,0.479659,0.459855,0.448756,0.381678,0.068879,0.502713,0.518738,1.000000,-0.428473,-0.016524
NumWebVisitsMonth,-0.007446,0.121139,-0.040281,-0.031210,-0.549824,0.447846,0.134884,0.026401,-0.021445,-0.320653,...,-0.539470,-0.446003,-0.423294,-0.250719,0.347633,-0.055846,-0.520364,-0.428473,1.000000,0.019769
Complain,0.033883,-0.030128,-0.050540,-0.005718,-0.027223,0.040207,0.003138,-0.011827,0.013231,-0.039007,...,-0.023483,-0.020953,-0.022485,-0.030861,0.000420,-0.016310,-0.020453,-0.016524,0.019769,1.000000

In [64]:
df.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
ID,5524.0,2174.0,4141.0,6182.0,5324.0,7446.0,965.0,6177.0,4855.0,5899.0,1994.000000,387.0,2125.0,8180.0,2569.0,2114.0,9736.0,4939.0,6565.0,2278.0
Year_Birth,1957.0,1954.0,1965.0,1984.0,1981.0,1967.0,1971.0,1985.0,1974.0,1950.0,1983.000000,1976.0,1959.0,1952.0,1987.0,1946.0,1980.0,1946.0,1949.0,1985.0
Education,2.0,2.0,2.0,2.0,4.0,3.0,2.0,4.0,4.0,4.0,2.000000,1.0,2.0,3.0,2.0,4.0,2.0,2.0,3.0,0.0
Marital_Status,4.0,4.0,5.0,5.0,3.0,5.0,2.0,3.0,5.0,5.0,3.000000,3.0,2.0,2.0,3.0,4.0,3.0,5.0,3.0,4.0
Income,58138.0,46344.0,71613.0,26646.0,58293.0,62513.0,55635.0,33454.0,30351.0,5648.0,52247.251354,7500.0,63033.0,59354.0,17323.0,82800.0,41850.0,37760.0,76995.0,33812.0
Kidhome,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.000000,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
Teenhome,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.000000,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
Dt_Customer,80.0,157.0,444.0,199.0,390.0,189.0,280.0,160.0,119.0,267.0,321.000000,280.0,321.0,321.0,212.0,517.0,518.0,658.0,591.0,62.0
Recency,58.0,38.0,26.0,26.0,94.0,16.0,34.0,32.0,19.0,68.0,11.000000,59.0,82.0,53.0,38.0,23.0,51.0,20.0,91.0,86.0
MntWines,635.0,11.0,426.0,11.0,173.0,520.0,235.0,76.0,14.0,28.0,5.000000,6.0,194.0,233.0,3.0,1006.0,53.0,84.0,1012.0,4.0
MntFruits,88.0,1.0,49.0,4.0,43.0,42.0,65.0,10.0,0.0,0.0,5.000000,16.0,61.0,2.0,14.0,22.0,5.0,5.0,80.0,17.0
MntMeatProducts,546.0,6.0,127.0,20.0,118.0,98.0,164.0,56.0,24.0,6.0,6.000000,11.0,480.0,53.0,17.0,115.0,19.0,38.0,498.0,19.0
MntFishProducts,172.0,2.0,111.0,10.0,46.0,0.0,50.0,3.0,3.0,1.0,0.000000,11.0,225.0,3.0,6.0,59.0,2.0,150.0,0.0,30.0
MntSweetProducts,88.0,1.0,21.0,3.0,27.0,42.0,49.0,1.0,3.0,1.0,2.000000,1.0,112.0,5.0,1.0,68.0,13.0,12.0,16.0,24.0
MntGoldProds,88.0,6.0,42.0,5.0,15.0,14.0,27.0,23.0,2.0,13.0,1.000000,16.0,30.0,14.0,5.0,45.0,4.0,28.0,176.0,39.0
NumDealsPurchases,3.0,2.0,1.0,2.0,5.0,2.0,4.0,2.0,1.0,1.0,1.000000,1.0,1.0,3.0,1.0,1.0,3.0,2.0,2.0,2.0
NumWebPurchases,8.0,1.0,8.0,2.0,5.0,6.0,7.0,4.0,3.0,1.0,1.000000,2.0,3.0,6.0,1.0,7.0,3.0,4.0,11.0,2.0
NumCatalogPurchases,10.0,1.0,2.0,0.0,3.0,4.0,3.0,0.0,0.0,0.0,0.000000,0.0,4.0,1.0,0.0,6.0,0.0,1.0,4.0,1.0
NumStorePurchases,4.0,2.0,10.0,4.0,6.0,10.0,7.0,4.0,2.0,0.0,2.000000,3.0,8.0,5.0,3.0,12.0,3.0,6.0,9.0,3.0
NumWebVisitsMonth,7.0,5.0,4.0,6.0,5.0,6.0,6.0,8.0,9.0,20.0,7.000000,8.0,2.0,6.0,8.0,3.0,8.0,7.0,5.0,6.0
Complain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0